<%= semantic_form_for @location do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :slug, label: "URL", required: false %>
    <%= f.input :classification, as: :select, collection: ['living', 'industrie'], include_blank: false %>
  <% end %>
  <div id="map" class="map"></div>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
