<%= semantic_form_for [:admin, @location] do |f| %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :slug, label: "URL", required: false %>
    <%= f.input :classification, as: :select, collection: ['living', 'industry'], include_blank: false %>
    <%= f.input :show_detail, label: "Show detail page" %>
    <%= f.input :published_on, label: "Published", as: :boolean %>
  <% end %>
  <div id="map" class="map"></div>
  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>
  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
