= form_for [:admin, @location], html: { multipart: true } do |f|
  %ul
    %li
      = f.label :name
      = f.text_field :name

    %li
      = f.label :description
      = f.text_area :description, input_html: { rows: 15 }

    %li
      = f.label :annotations
      = f.text_area :annotations, input_html: { rows: 3 }

    %li
      = f.label :slug, 'URL'
      = f.text_field :slug, required: false

    %li
      = f.label :on_map
      = f.check_box :on_map

    %li
      = f.label :published_on, 'Published'
      = f.check_box :published_on

    %li
      = f.fields_for :header_image do |image|
        - if image.object.new_record?
          = image.label :image, 'Header image'
          = image.file_field :image
        - else
          = image.label :_destroy, image_tag(image.object.image.url(:thumb))
          = image.check_box :_destroy

    %li
      = f.fields_for :slideshow_images do |image|
        %fieldset
          %legend Image
          %ul.inputs
            %li
              - if image.object.new_record?
                = image.label :image, 'Add Image'
                = image.file_field :image
              - else
                = image.label :_destroy, image_tag(image.object.image.url(:thumb))
                = image.check_box :_destroy, as: :boolean

            %li
              = image.label :title
              = image.text_field :title

            %li
            = image.label :position
            = image.text_field :position

    %li
      #map.map
      = f.hidden_field :latitude
      = f.hidden_field :longitude

  = f.submit @location.new_record? ? 'Create location' : 'Update location'
