<% title @location.name %>

<section>
  <div class="location_image">

  </div>
  <div class="columns">
    <div class="column">
      <%= markdown(@location.description) %>
    </div>
    <div class="column last">
      <div class="images">
        <% @location.images.each do |image| %>
          <%= link_to(image_tag(image.image.url(:thumb)), image.image.url(:large), {'data-slideshow' => 'true'}) %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section>
  <script type="text/javascript">
    app.map.locations = <%= map_data([@location]) %> 
    app.map.nearby = <%= map_data(@nearby.to_a, additional: true) %> 
  </script>
  <%= render :partial => "shared/map", :locals => { :locations => @nearby.to_a, :count => 8 }%>
</section>
