- @title = @location.name
- @page_image = @location.header_image.image.url(:small) if @location.header_image

%article.section
  - if @location.header_image
    .header-image
      %h1= @location.name
      = image_tag(@location.header_image.image.url(:large))

  .description= markdown(@location.description)

  %ul.images
    - @location.slideshow_images.each do |image|
      %li
        = link_to(image_tag(image.image.url(:small), alt: image.title),
          image_path(image.image.url(:large)), title: image.title, data: { slideshow: 'true' })

  - unless @location.annotations.blank?
    .annotations= markdown(@location.annotations)

.section
  %script
    app.map.locations = #{[@location].to_json.html_safe}
    app.map.nearby = #{@nearby.to_json.html_safe}
  #map
