<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? "#{yield(:title)} | " : "" %>Berliner Höfe</title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=false" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo"></div>
        <h1><%= content_for?(:title) ? yield(:title) : '' %></h1>
      </div>
    </div>
    <div id="content">
      <div class="container">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">
      </div>
    </div>
  </body>
</html>
